@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(31,31,31,255);  
    background-size: cover;
    background-image: url("Assets/background.png");
}

.centereditems {
    justify-content: center;
    display: flex;
    font-weight: 700;
    font-size: xx-large;
    color: #8532a8;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.column {
    height: var(--container-height, auto);
    min-width: 300px !important; 
    min-height: 50px !important;
    background-color: rgba(0, 0, 0, 1);
    color: white !important;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    animation: fadeIn 0.9s ease forwards;
}

.tab {
    text-align: center !important;
    overflow: hidden;
    border: 0px solid #332626;
    background-color: rgba(51, 51, 51, 0);
    padding: 5px 0;
}

.tab a {
    font-size: 20px;
    font-weight: bold;
    color: white !important;
    text-align: center;
    text-decoration: none;
    display: inline-block; 
    padding: 14px 50px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.tab a.active {
    background-color: rgba(31,31,31,255);
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 0px solid #ccc;
    border-top: none;
}

.separator {
    border-top: 1px solid #ccc;
    width: 50%; 
    margin: auto; 
    margin-top: 10px;
    margin-bottom: 10px;
}

.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px); 
    z-index: -1;
}

::-webkit-scrollbar {
  display: none;
}

/* Benutzerdefinierte Scrollleiste für Webkit-basierte Browser */
::-webkit-scrollbar {
  width: 10px; /* Breite der Scrollleiste */
}

/* Track */
::-webkit-scrollbar-track {
  background: #3b3b3b; /* Hintergrundfarbe des Scrollleistenbereichs */
}

/* Griff */
::-webkit-scrollbar-thumb {
  background: #555; /* Farbe des Scrollleistengriffs */
  border-radius: 5px; /* Abgerundete Ecken für den Griff */
}

/* Griff bei Hover */
::-webkit-scrollbar-thumb:hover {
  background: #777; /* Farbe des Scrollleistengriffs im Hover-Zustand */
}

.profile-button {
  position: absolute;
  top: 50%;
  right: 50px; /* Abstand vom rechten Rand anpassen */
  transform: translateY(+20%);
}

.profile-button img {
  border-radius: 50%;
  width: 40px; /* Pass die Größe nach Bedarf an */
  height: 40px; /* Pass die Größe nach Bedarf an */
}

.profile-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
}

.profile-button button {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

.profile-button button:hover {
  text-decoration: underline;
}

.Infocard-title {
  color:white; 
  font-size: 45px;
  font-weight: 800;
  text-align: center;
}

.infocard-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Vier Spalten mit jeweils 300px Breite */
  gap: 50px; /* Standard-Abstand zwischen den Karten */
  padding-top: 20px;
  max-width: 1300px; /* Maximale Breite des Containers */
  margin: 0 auto; /* Zentrierung des Containers */
  justify-content: center; /* Horizontale Zentrierung */
  align-items: start; /* Vertikale Ausrichtung oben */
}

.infocard {  
  width: 300px !important;
  height: 450px !important; 
  background-color: #333; 
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  flex-grow: 0;
  animation: fadeIn 0.9s ease forwards;
  transition: box-shadow 0.3s ease, transform 0.3s;
  margin: 0 auto;
}

.infocard:nth-of-type(3):hover,
.infocard:nth-of-type(4):hover,
.infocard:nth-of-type(5):hover,
.infocard:nth-of-type(6):hover {
  box-shadow: 0 0 20px white;
}

.infocard:nth-of-type(2):hover { /*Bastion*/
  box-shadow: 0 0 20px #DE3743;
}

.infocard:nth-of-type(1):hover { /*Mansion*/
  box-shadow: 0 0 20px #00AAAA; 
}

.infocard:hover {
  transform: scale(1.1); 
}

.image-container {
    height: 50%;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Bild skalieren, um den gesamten Container zu füllen */
}

.info-container {
    padding: 20px;
    text-align: center;
}

.info-container h2 {
    color: #fff; /* Farbe für den Event-Namen */
    margin-top: 0;
}

.info-container p {
    color: #ccc; /* Farbe für den Text */
}

.info-container button {
    padding: 10px 20px;
    background-color: #8532a8; /* Hintergrundfarbe für den Signup-Button */
    color: #fff; /* Textfarbe für den Signup-Button */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    margin-top: 10px;
}

.info-container button:hover {
    background-color: #6a2670; /* Hintergrundfarbe für den Signup-Button im Hover-Zustand */
}

.textlabel {
    font-size: 50px;
    font-weight: 700;
    opacity: 0;
    animation: fadeIn 1s forwards;
    text-align: center;
}

.signup-container {
    display: flex;
    max-width: 800px;
    background-color: rgba(51, 51, 51, 255);
    border-radius: 10px;
    overflow: hidden;
    color: white;
    margin: auto;
    height: auto; /* Höhe auf auto setzen */
    animation: fadeIn 0.9s ease forwards;
    transition: box-shadow 0.3s ease, transform 0.3s;
}

.signup-container:hover {
  box-shadow: 0 0 20px rgba(255, 0, 0, 255);
}

.signup-image {
    position: relative;
    overflow: hidden;
    flex: 1;
}

.signup-image img {
    width: 100%; /* Bildbreite auf 100% setzen */
    height: auto; /* Automatische Höhe */
    display: block;
    border-radius: 10px 0 0 10px;
}

.slash {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    background: linear-gradient(to bottom right, transparent 50%, rgba(51, 51, 51, 255) 50%);
    z-index: 1;
}

.signup-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-width: 200px;
}

.signup-content h2 {
    color: #8532a8;
    margin-top: 0;
}

.signup-content p {
    margin-top: 20px;
}

.signup-button-container {
    align-self: flex-start; /* Button links ausrichten */
}

.signup-content button {
    padding: 10px 20px;
    background-color: #8532a8;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.signup-content button:hover {
    background-color: #6a2670;
}

:root {
    --bg: rgba(0, 0, 0, 1);
    --clr-1: #7744ff; /* Blau */
    --clr-2: #5e44ff; /* Dunkelblau */
    --clr-3: #5e44ff; /* Dunkelblau */
    --clr-4: #BB86FC; /* Hellviolett */
  
    --blur: 1rem;
    --fs: clamp(2rem, 4vw, 4rem);
    --ls: clamp(-1.75px, -0.25vw, -3.5px);
  }
  
  *,
  *::before,
  *::after {
    font-family: inherit;
    box-sizing: border-box;
  }
  
  .content {
    text-align: center;
  }
  
  .title {
    font-size: var(--fs);
    font-weight: 800;
    letter-spacing: var(--ls);
    position: relative;
    overflow: hidden;
    background: var(--bg);
    margin: 0;
    background-color: transparent;
  }
  
  .aurora {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    mix-blend-mode: darken;
    pointer-events: none;
  }
  
  .clr {
    overflow: hidden;
    position: absolute;
    width: 60vw;
    height: 60vw;
    background-color: var(--clr-1);
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
    filter: blur(var(--blur));
    mix-blend-mode: overlay;
  }
  
  .clr:nth-of-type(1) {
    top: -50%;
    background-color: var(--clr-1); /* Blau */
    animation: aurora-border 6s ease-in-out infinite,
      aurora-1 12s ease-in-out infinite alternate;
  }
  
  .clr:nth-of-type(2) {
    background-color: var(--clr-3);
    right: 0;
    top: 0;
    animation: aurora-border 6s ease-in-out infinite,
      aurora-2 12s ease-in-out infinite alternate;
  }
  
  .clr:nth-of-type(3) {
    background-color: var(--clr-2);
    left: 0;
    bottom: 0;
    animation: aurora-border 6s ease-in-out infinite,
      aurora-3 8s ease-in-out infinite alternate;
  }
  
  .clr:nth-of-type(4) {
    background-color: var(--clr-4);
    right: 0;
    bottom: -50%;
    animation: aurora-border 6s ease-in-out infinite,
      aurora-4 24s ease-in-out infinite alternate;
  }
  
  @keyframes aurora-1 {
    0% {
      top: 0;
      right: 0;
    }
  
    50% {
      top: 100%;
      right: 75%;
    }
  
    75% {
      top: 100%;
      right: 25%;
    }
  
    100% {
      top: 0;
      right: 0;
    }
  }
  
  @keyframes aurora-2 {
    0% {
      top: -50%;
      left: 0%;
    }
  
    60% {
      top: 100%;
      left: 75%;
    }
  
    85% {
      top: 100%;
      left: 25%;
    }
  
    100% {
      top: -50%;
      left: 0%;
    }
  }
  
  @keyframes aurora-3 {
    0% {
      bottom: 0;
      left: 0;
    }
  
    40% {
      bottom: 100%;
      left: 75%;
    }
  
    65% {
      bottom: 40%;
      left: 50%;
    }
  
    100% {
      bottom: 0;
      left: 0;
    }
  }
  
  @keyframes aurora-4 {
    0% {
      bottom: -50%;
      right: 0;
    }
  
    50% {
      bottom: 0%;
      right: 40%;
    }
  
    90% {
      bottom: 50%;
      right: 25%;
    }
  
    100% {
      bottom: -50%;
      right: 0;
    }
  }
  
  @keyframes aurora-border {
    0% {
      border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
    }
  
    25% {
      border-radius: 47% 29% 39% 49% / 61% 19% 66% 26%;
    }
  
    50% {
      border-radius: 57% 23% 47% 72% / 63% 17% 66% 33%;
    }
  
    75% {
      border-radius: 28% 49% 29% 100% / 93% 20% 64% 25%;
    }
  
    100% {
      border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
    }
  }	

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 1600px) {
  .infocard-container {
    gap: calc((100% - 1200px) / 3); /* Dynamisch berechneter Abstand für mehr als 1600px Breite */
    padding-left: calc((100% - 1200px) / 6); /* Dynamisch berechnetes Padding nach links */
  }
}

@media screen and (max-width: 1300px) {
  .infocard-container {
    grid-template-columns: repeat(2, 1fr); /* 2 Karten pro Reihe für mittelgroße Bildschirme */
  }
}

@media screen and (max-width: 800px) {
  .infocard-container {
    grid-template-columns: 1fr; /* 1 Karte pro Reihe für kleine Bildschirme */
  }
}

@media screen and (max-width: 1000px) {
  .infocard {
    flex-basis: calc(50% - 50px);
    max-width: calc(50% - 50px);
  }
}

@media screen and (max-width: 600px) {
  .infocard {
    flex-basis: calc(100% - 50px);
    max-width: calc(100% - 50px);
  }
}

@media screen and (min-width: 400px) {
  .infocard-container {
    justify-content: flex-start;
  }
}